<div class="row col-12 justify-content-center mx-auto">
    <h2 class="text-center mb-3 col-12">Productos existentes</h2>
    <div id="divProductos">

    </div>
    {{!-- {{#each productos}}
    <div class="prodCard row col-11 col-sm-10 col-md-5 justify-content-center mb-5 mx-1">
        <img class="col-8" src={{this.thumbnail}} alt="">
        <div class="col-8 justify-content-center">
            <div class="text-center">{{this.title}}</div>
            <div class="text-center">${{this.price}}</div>
        </div>
    </div>
    {{/each}} --}}
</div>
