<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Productos</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Galindo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css" />
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  {{!--
  {{{body}}} is used as a placeholder for where the main content should be rendered.
  --}}
  {{{body}}}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script> const socket = io();

    // Renderizar productos que envía el Back
    socket.on('sendProducts', (data) => {
      const productos = data;
      let html = '';
      const detalle = document.getElementById('divProductos')
      if (detalle != null) {
        productos.map(p =>
          html += `
                <div class="prodCard row col-11 col-sm-10 col-md-5 justify-content-center mb-5 mx-1">
                    <img class="col-8" src=${p.thumbnail} alt="">
                     <div class="col-8 justify-content-center">
                        <div class="text-center">${p.title}</div>
                        <div class="text-center">$${p.price}</div>
                    </div>
                </div>
            `
        );
        detalle.innerHTML = html;
      } else {
        console.log('no')
      }
    });

    // Funcion del formulario, se envía la info al Back
    function addProd() {
      const title = document.getElementById('titulo').value
      const price = document.getElementById('precio').value
      const thumbnail = document.getElementById('foto').value
      socket.emit('addProducts', {
        title,
        price,
        thumbnail
      })
    }

    
    //CHAT MANAGER-----------------------------------------------------------------
    //Obtener mensajes del chat guardados
    socket.on('sendMessages', (data) => {
      const mensajes = data;
      let innerText = ''
      mensajes.map((mensaje) => { //=> para pintarlo en la página. Data es un arreglo y se mapea
        innerText += `  
        <div class="col-12 row justify-content-center mb-3">
             <div class="col-8 col-md-4 text-center">${mensaje.author}</div>
             <div class="col-8 col-md-4 text-center">${mensaje.date}</div>
             <div class="col-8 col-md-4 text-center">${mensaje.text}</div>
         </div>
        `
      })
      document.getElementById('prevMessages').innerHTML = innerText // con esto se agrega
    })

    
    //Función del chat, se envía info al Back
    function addMessage() {
        const author = document.getElementById('mailAuthor').value
        const text = document.getElementById('message').value
        const d = new Date();
        const year= d.getFullYear().toLocaleString()
        const month =d.getMonth().toLocaleString()
        const day=d.getDate().toLocaleString()
        const hours= d.getHours().toLocaleString()
        const minutes= d.getMinutes().toLocaleString()
        const sec= d.getSeconds().toLocaleString()
        const date= day+'/'+month+'/'+year + ' ' +hours+':'+minutes+':'+sec
        socket.emit('sendNewChat', {
          author,
          date,
          text
        })
        document.getElementById('message').value = '' // al enviar, se borra el mensaje pero queda el nombre en el form
      }

  </script>

</body>

</html>