* {
  font-family: "Montserrat";
}

/*------------------------------------------ FORMULARIO-------------------------------------------------------------- */
.formulario {
  background-color: aquamarine;
  border-radius: 1rem;
  border: 2px solid black;
  box-shadow: 2px 2px black;
}

input {
  border-radius: 1rem;
}

.boton {
  background-color: rgb(195, 135, 252);
  border-radius: 5px;
  border: 2px solid black;
}

/*------------------------------------------ LISTA-------------------------------------------------------------- */
.prodCard {
  border: 3px solid black;
  border-radius: 1rem;
  background-color: bisque;
  box-shadow: 2px 2px black;
}

/*------------------------------------------ CHAT-------------------------------------------------------------- */
.divChat {
  background-color: rgb(162, 172, 168);
  border-radius: 1rem;
}
